div#ourColumns{
	-webkit-column-count:2; /* Safari and Chrome */
	-moz-column-count:2; /* Firefox */
	column-count:2; /* Everyone Else */
	-webkit-column-gap:30px;
	-moz-column-gap:30px;
	column-gap:30px;
	-webkit-column-rule:20px outset #ff00ff;
	-moz-column-rule:20px groove #ff00ff;
	column-rule:20px groove #ff00ff;
	width: 20cm;
	color : black;
	padding: 20px;
	border: 20px dotted blue;
	opacity: 0.5;
	/*background-clip: padding-box;*/
	/*background-position:top left;*/
	text-indent: 35px;
	background-color: #ffffff;
	text-decoration: underline;
	margin: 30px 40px;
}

div#ourColumns p {
	color: black;
	font-weight: bold;
	opacity: 1;
}

div#background {
	background-image:url('../images/tardis.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	width:1000px;
	height: 500px;
}

